/* 기본값 */
a {
    color: #000;
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

/* 스킵메뉴 시작 */
.hidden {
    width: 1px;
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    position: absolute;
}

ul#skipmenu_list li a:focus {
    width: 100%;
    height: 30px;
    font-size: 14px;
    background: #000;
    color: #ffffff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    z-index: 99999;
}

/* 스킵메뉴 끝 */
body {
    border-top: 1px solid #000;
}

/* 왜 있는지 모르겠는 border... */
/* 상단메뉴 시작 */
h1#logo img {
    width: 53px;
    float: left;
    position: absolute;
    left: 345px;
    top: 20px;
}

ul.login_menu {
    width: 500px;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-items: flex-end;
    position: absolute;
    right: 300px;
}

ul.login_menu li {
    font-size: 4px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 8pt;
    text-indent: 10px;
}

ul.login_menu li a {
    border-left: 1px solid rgb(225, 225, 225);
    padding-left: 15px;
    color: rgb(95, 95, 95);
}

ul.login_menu li:first-child a {
    border: none;
    /* :first-child 뒤에 a (요소 하나한테) 이렇게 쓰는거다ㅏ */
}

button.search {
    position: absolute;
    right: 70px;
    top: 5px;
    width: 17px;
    height: 20px;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 5px;
    background: rgb(255, 255, 255);
    text-align: center;
    line-height: 20px;
    font-size: 13px;
}

ul.mainmenu{
    width: 800px;
    height: 70px;
    line-height: 70px;
    display: flex;
    justify-items: flex-end;
    position: absolute;
    right: 40px;
    top: 20px;
    text-indent: 30px;
    margin-right: 30px;
    font-size: 10px;
    color: #000;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div.coffee_wrap{
    width: 100%;

}
div#coffee_wrap{
    width: 100%;
    height: 300px;
    /* 아직 하려면 멀었음 계속 만들고 업로드 해야지.. */
}

/* #coffee_wrap{
    width: 1000px;
    height: 500px;
    text-align: left;
} */
